body {
    font-family: "Open Sans";
    margin: 0;
    background: #ecf0f1;
    color: #2980b9;
}

header {
    width: 100%;
    font-size: 30px;
    font-family: "Damion";
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: #2980b9;
    color: white;
}

header span {
    cursor: pointer;
}

#home, #switch .s, #error, #end {
    width: 60%;
    margin: auto;
    font-size: 13px;
}

#home h1 {
    text-align: center;
}

input {
    height: 25px;
    outline: none;
    padding-left: 5px;
    width: calc(100% - 5px);
}

button {
    border: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: "Open Sans";
    color: white;
    font-size: 15px;
    background: #27ae60;
}

label {
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}

hr {
    width: 100%;
}

section {
    display: none;
}

.clearfix {
    clear: both;
}

.list div {
    float: left;
    position: relative;
    width: 155px;
    font-size: 13px;
    background: #ededed;
    border: solid 1px lightgray;
}

#switch span {
    padding-left: 42px;
}

.list div img {
    float: left;
    margin-right: 5px;
}

.list div b {
    display: block;
}

.list div span {
    font-size: 30px;
    text-align: center;
}

#clickArea {
    width: 100%;
    font-size: 30px;
    color: rgba(255,255,255,0.5);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    background: #f1c40f;
}

#clickArea h1 {
    margin: 0;
    padding:0;
    text-align: center;
}